<!-- <div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center flex-column">
            <h3>Country Comparasion</h3>
            <form class="mt-5 card w-50">
                <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
              </form>
        </div>
    </div>
</div> -->

<div *ngIf="isLoading" fxLayoutAlign="center center" class="h-90">
  <mat-spinner></mat-spinner>
</div>
<div fxLayoutAlign="center center" class="login-form" fxLayout="column" *ngIf="!isLoading">
  <h1 fxFlex="80" fxLayoutAlign="center center" >Country Comparasion</h1>
  <form class="example-form custom-example-form w-25"  fxLayoutAlign="center center" fxLayout="column" #loginForm="ngForm" (ngSubmit)= "onSubmit(loginForm)">
    <mat-form-field class="example-full-width w-75">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter your username" ngModel id="username" name="username" required>
    </mat-form-field>
    <mat-form-field class="example-full-width w-75">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" value="" id="password" type="password" ngModel name="password" required>
    </mat-form-field>
     <button mat-raised-button color="primary" [disabled]= !loginForm.valid type="submit">Login</button>
  </form>
</div>
