/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//width
.w-25 {
    width: 25% !important;
}
.w-50 {
    width: 50% !important;
}
.w-75 {
    width: 75% !important;
}

//margin

.mt-30 {
    margin-top: 30px;
}


//LOGIN PAGE

.login-form {
    margin-top: 50px;
    .custom-example-form {
        border: 1px solid rgba(0,0,0,.2);
        padding: 20px;
    }
}


//HOME PAGE

.custom-border {
    border: 1px solid rgba(0,0,0,.2);
    padding: 20px;
}
